<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Testing Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="API Tests">
        <packages>
            <!-- Package names are case-sensitive on Linux runners; project uses package 'Tests' -->
            <package name="Tests"/>
        </packages>
    </test>
</suite>